<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDictService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10013/dictionary/endpoint1"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDictService"
                contract="ServiceReference1.IDictService" name="WSHttpBinding_IDictService">
                
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>